{% extends 'base.html.twig' %}

{% block title %}Homepage - RankedChoice{% endblock %}
{% block page_keywords %}Jeans, Jackets{% endblock %}
{% block page_description %}Main page of RankedChoice shop!{% endblock %}

{% block body %}
    <div class="container">
        <h3>Edit series</h3>
        <form class="form-horizontal" role="form" method="post" action="{{ path('serials_store') }}">
            <div class="form-group">
                <label for="inputName" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="inputName" name="name" value="{{ link.name }}">
                </div>
            </div>
            <div class="form-group">
                <label for="inputUrl" class="col-sm-2 control-label">URL</label>
                <div class="col-sm-6">
                    <input type="url" class="form-control" id="inputUrl" name="link" value="{{ link.link }}">
                </div>
            </div>
            <div class="form-group">
                <label for="inputLast" class="col-sm-4 control-label">Last seriaes</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="inputLast" name="lastSeries" value="{{ link.lastSeries }}">
                </div>
            </div>
            <div class="form-group">
                <label for="inputType" class="col-sm-2 control-label">Type</label>
                <div class="col-sm-6">
                    <select id="inputType" class="form-control" name="typeSource">

                        {% for key, value in types %}
                            <option value="{{ value }}"
                             {{ value == link.typeSource ? 'selected' }}>
                             {{ key }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputUrlTracker" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="inputUrlTracker" name="description" value="{{ link.description }}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <input type="hidden" name="id" value="{{ link.id }}">
                    <a class="btn btn-primary" href="{{ path('serials_list') }}" role="button">Назад</a>
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}