{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}
{% block page_description %}Torrent watcher{% endblock %}

{% block body %}
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Наименование</th>
            <th>Трекер</th>
            <th>Обновление</th>
        </tr>
        </thead>
        <tbody>

        {% for link in links %}
            <tr>
             <td>{{ link.id }}</td>
             <td><a href="{{ link.link }}">{{ link.name }}</a></td>
             <td>{{ link.type }}</td>
             <td>{{ link.updateAt }}</td>
             </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}